|<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMantenimientosServices" maxBufferPoolSize="5242880" maxReceivedMessageSize="5242880" />
        <binding name="BasicHttpBinding_IReporteServices" maxBufferPoolSize="5242880" maxReceivedMessageSize="5242880" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IMantenimientosServices"  maxBufferPoolSize="5242880" maxReceivedMessageSize="5242880" />
        <binding name="NetTcpBinding_IReporteServices" maxBufferPoolSize="5242880" maxReceivedMessageSize="5242880" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://s000-00:5050/MantenimientosServices.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMantenimientosServices"
        contract="MantenimientoServices.IMantenimientosServices" name="NetTcpBinding_IMantenimientosServices">
        <identity>
          <servicePrincipalName value="host/S000-00" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:5051/ReportesServices.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReporteServices"
        contract="ReportesServices.IReporteServices" name="BasicHttpBinding_IReporteServices" />
    </client>
  </system.serviceModel>
</configuration>